<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h2 class="text-light">Sign In</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5 ">
    <div class="form mx-auto w-50 bg-dark bg-opacity-10 border border-dark border- rounded-end mb-5 mx-0 ">
        <form>
            <h2 class="text-center mt-5 mb-3 text-light ">Sign In</h2>
            <h5>{{aim}}</h5>
            <div class="mb-3 mt-3 w-75 mx-auto">
                <input type="email" (change)="emailId($event)" class="form-control" id="email" aria-describedby="emailHelp"
                    [placeholder]="place">
            </div>
            <div class="mb-3 w-75 mx-auto">
                <input type="password" (change)="pswdChange($event)" class="form-control" id="Password" placeholder=" Enter Your Password">
            </div>
            <div class="d-grid gap-2 ">
                <button class="btn btn-primary mb-3 w-75 mx-auto" (click)="login()" type="button">Login</button>
            </div>

            <p class="text-center mx-auto text-light">Dont Have an account? <a href="">Sign Up</a></p>
        </form>

    </div>
</div>

