body{
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: blueviolet;
}
a:hover{
    color: blue;
    text-decoration: underline;
    
}